services:
    watchtower: # 用于自动更新easytier镜像，若不需要请删除这部分
        image: containrrr/watchtower
        container_name: watchtower
        restart: unless-stopped
        environment:
            - TZ=Asia/Shanghai
            - WATCHTOWER_NO_STARTUP_MESSAGE
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        command: --interval 3600 --cleanup --label-enable
    easytier:
        image: easytier/easytier:latest # 国内用户可以使用 m.daocloud.io/docker.io/easytier/easytier:latest
        hostname: easytier
        container_name: easytier
        labels:
            com.centurylinklabs.watchtower.enable: 'true'
        restart: unless-stopped
        # network_mode: host
        ports:
            - 11010:11010
            - 11010:11010/udp
            - 11011:11011
            - 11011:11011/udp
            - 11012:11012
        cap_add:
            - NET_ADMIN
            - NET_RAW
        environment:
            - TZ=Asia/Shanghai
        devices:
            - /dev/net/tun:/dev/net/tun
        volumes:
            - /etc/easytier:/root                   #配置文件
            - /etc/machine-id:/etc/machine-id:ro    # 映射宿主机机器码
        # 1. 默认启动方式
        # command: -d --network-name <用户> --network-secret <密码> -p tcp://public.easytier.cn:11010
        # 2. 配置文件
        # command: -c /root/config.toml
        # 3. web配置
#        command: --machine-id <机器id> -w udp://<web ip>:22020/<web账号> --hostname <主机名>
        command: ${COMMAND}