version: "3"
services:
    syncthing:
        image: syncthing/syncthing
        container_name: syncthing
        hostname: my-syncthing
        environment:
            # 0:0 是root
            # syncthing直接本机运行的话创建的用户是syncthing:syncthing(499:499)
            - PUID=499
            - PGID=499
            # - STGUIADDRESS=
        volumes:
            - ./data:/var/syncthing
            - /mnt/mmc0-4/syncthing:/mnt/mmc0-4/syncthing
        network_mode: host
        restart: unless-stopped
        healthcheck:
            test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
            interval: 1m
            timeout: 10s
            retries: 3